@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/*Configurações gerais*/
:root{
    --cor1: #7373e1;
    --cor2: #d1d1fd;
    --cor3: #0a0ac4;
    --cor4: #0303a0;

    --fontetitulo:'Rubik', Arial, Helvetica, sans-serif;

    --b:1px solid black;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fontetitulo);
}
/*Configurações do header*/
header{
    height:136px;
    position: relative;
}

header > div#menu{
    justify-content: space-around;
    position: fixed;
    top: 14px;
    right: 14px;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    background-color: #7a7aedc9;
    z-index: 2;
}
header > div#menu > div{
    height: 3px;
    width: 25px;
    margin: 8px 5px 0px 5px;
    border-radius: 5px;
    background-color: var(--cor4);
    position: absolute;
}
header > div#menu > div#l2{
    margin-top: 16px;
}
header > div#menu > div#l3{
    margin-top: 24px;
}
nav#naveg{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color:rgba(209, 209, 253, 0.744);
    display: none;
    z-index: 1;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.5s;
}
nav#naveg > ul{
    list-style: none;
    display: flex;
    top: 0vh;
    right: 0px;
    width: 100vh;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -50px;
}
nav#naveg > ul > li{
    letter-spacing: 3px;;
}
nav#naveg > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: 'Rubik';
    font-weight: 500;
}
    

header > div#foto{
    background: var(--cor1) url(../imagens/foto.png) -3px center no-repeat;
    background-size: 100%;
    margin: 18px 0px 0px 18px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
header > div#titulo{
    display: inline-block;
    position: absolute;
    left:136px;
    top: 50%;
    transform: translate(0px, -50%);
}
header > div#titulo > h1{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(47, 43, 43);
    line-height: .78em;
}
header > div#titulo > span{
    display: block;
    background-color: var(--cor1);
    height:7.5px;
    width:38px;
    border-radius: 4.5px;
    margin-top: 13px;
}
section#apresentacao{
    padding-top: 12px;
    padding-bottom: 40px;
}
section#apresentacao > p{
    margin: 62px auto 0px auto;
    width: 88vw;
    text-align: center;
    font-family: 'Play';
    font-size: 1.4em;
    border-radius: 5px;
    font-weight: 700;
    color: var(--cor4);
}
section#apresentacao > div#displays{
    margin: auto;
    width: fit-content;
}
section#apresentacao > div#displays > img{
    width: 45px;
}
section#apresentacao > div#displays > img#cellp{
    margin-left: -13px;
}
section#apresentacao > div#displays > img#ipad{
    height: 75px;
    width: 100px;
    margin-bottom: -3px;
    margin-right: -28px;
}
section#apresentacao > div#displays > img#note{
    width: 125px;
    margin-left: -15px;
    margin-bottom: -30px;
}
section#apresentacao > div#displays > img#desk{
    width: 125px;
    margin-left: -20px;
    margin-right: -35px;
    margin-bottom: -19px;
}
section#apresentacao > div#botaosaibasm{
    margin: 90px auto 0px auto;
    width: 64vw;
    height: 70px;
    border: 2px solid black;
    background-color: #9c6adf;    
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
}
section#apresentacao > div#botaosaibasm > div{
    display: inline-block;
    margin:auto;
}
section#apresentacao > div#botaosaibasm > div > p{
    text-align: center;
    display: inline;
    font-family: 'Play';
    font-size: 1.1em;
    font-weight: 700;
    line-height: 70px;
}
section#apresentacao > div#botaosaibasm > div > img{
    width: 20px;
    margin-left: 7px;
    vertical-align: middle;
}
section#apresentacao > div#redessociais{
    margin: 125px auto 0px auto;
    width: 65vw;
    display: flex;
    justify-content: space-around;
}
section#apresentacao > div#redessociais > img{
    width: 37px;
}
section#sobremim{
    padding-top: 1px;
    height: fit-content;
    padding-bottom: 190px;
    font-family: var(--fontetitulo);
    width: 100vw;
    background-color: #ddddff;
}
section#sobremim > h2.tit2,section#projetos > h2.tit2,section#contato > h2.tit2{
    width: fit-content;
    margin: auto;
    margin-top: 90px;
    font-family: var(--fontetitulo);
    color: var(--cor4);
    font-weight: 900;
    font-size: 1.1em;
}
section#sobremim > h3.tit3,section#projetos > h3.tit3,section#sobremim > h3.afterfirsth3,section#contato > h3.tit3{
    margin: auto;
    width: 90vw;
    font-size: 1.6em;    
    font-family: var(--fontetitulo);    
    font-weight: 800;
    text-align: center;
}
section#sobremim > p,section#contato > p{
    text-align: center;
    width: 92vw;
    margin: 35px auto 0px auto;
    font-family: var(--fontetitulo);
    font-weight: 200;
    line-height: 1.5em;
}
section#sobremim > h3.afterfirsth3{
    margin-top: 75px;
}
section#sobremim > article.skilltype{
    width: 90vw;
    margin: 42px auto 0px auto;
}
section#sobremim > article.skilltype > div.languages{
    height: 45px;
    overflow: hidden;
    display: flex;
    transition: height 1s ease;
}
section#sobremim > article.skilltype > div.languages > div{
    width: 88%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
}
section#sobremim > article.skilltype > div#html5,section#sobremim > article.skilltype > div#css3,section#sobremim > article.skilltype >  div#git,section#sobremim > article.skilltype >  div#github{
    margin-top: 35px;
}
section#sobremim > article.skilltype > div.languages > div > img{
    width: 45px;
    position: relative;
}
section#sobremim > article.skilltype > div.languages > div > h4{
    width: fit-content;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    line-height: 45px;
    font-weight: 500;
}
section#sobremim > article.skilltype > div.languages > div > img.setab{
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-top: 15.5px;
}
section#sobremim > article.skilltype > div.languages > p{
    display: inline-block;
    font-weight: 200;
    text-align: justify;
    line-height: 1.5em;
    font-size: 0.85em;
    margin: 45px 5px 5px 5px;
}
section#sobremim > a > div{
    margin-top: 60px;
    border: var(--b);
    width: fit-content;
    padding: 10px;
    position: absolute;
    transform: translate(-50%,0%);
    left: 50%;
    color: black;
    background-color: #9c6adf;
    border-radius: 3px;
}
section#projetos{
    height: fit-content;
    padding-bottom: 120px;
}
section#projetos > div{
    margin-top: 65px;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
section#projetos > div > div#projeto1{
}
section#projetos > div > div#projeto2,section#projetos > div > div#projeto3{
}
section#projetos > div > div.projeto{
    background-color: #7373e1b5;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
section#projetos > div > div.projeto > div.message{
    background-color: rgb(240, 240, 240);
    font-family: var(--fontetitulo);
    color: rgb(58, 58, 58);
    font-size: 1.25em;
    font-weight: 800;
    letter-spacing: 0.2em;
    width: 350px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 17px 0px 17px 0px;
    transform-origin: 100% 50%;
    transform: translate(-29.3%, -50%) rotate(-45deg);
}
section#contato{
    background-color: #ddddff;
    height: 117vh;
    padding-top: 1px;
    text-decoration: none;
}
section#contato > p{
    margin-top: 5px;
    font-size: 0.75em;
}
section#contato > p#p1{
    margin-top: 65px;
    font-size: 0.68em;
    font-weight: 600;
}
section#contato > div{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section#contato > div > a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-decoration: none;
}
section#contato > div > a > img{
    width: 60px;
}
section#contato > div > a > img#phone{
    transform: rotate(-45deg);
}
section#contato > div > a > h4{
    color: var(--cor4);
    margin-top: 7px;
    font-weight: 700;
}
section#contato > div > a > p{
    margin-top: 15px;
    font-size: 0.85em;
    font-weight: 500;
    color: rgb(94, 94, 94);
}
footer{
    height: 20vh;
    background-color: #3f295b;
    padding-top: 1px;
}
footer > p#p1{
    margin-top: 5px;
}
footer > p{
    text-align: center;
    font-weight: 300;
    color: rgb(165, 165, 165);
}
footer > div{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
footer > div > img{
    width: 25px;px;
}
footer > div > img#github{
    border: var(--b);
    border-radius: 5px;
    background-color: white;
}